footer{
	background-color: $black;
	color: $white;
	padding: 60px 0 10px 0;
	text-align: center;

	.footer-links{
		text-align: left;
		padding: 0;

		li{
			padding: 5px 0;

			a{
				color: $white;
				font-family: $second-font-family;
				font-size: 12px;
				font-weight: $light;
			}

		}

	}

}