header {
	font-size: 16px;

	a:hover{
		text-decoration: underline;
	}

	.main-header{
		height: 150px;
		padding: 20px 50px;
		position: relative;

		.header-nav {
			li {
				display: inline-block;
				a {
					padding: 0 10px;

					&.active{
						color: #999999;
						text-decoration: underline;
					}
				}
			}
		}

		.main-nav {
			padding-top: 50px;
		}

		.dogood-logo {
			text-align: center;

			img{
				max-width: 100%;
			}
		}

		.social-nav {
			padding-top: 50px;
			ul {
				text-align: right;
			}
		}

		.sub-header {
			background-color: #F2F2F2;
			padding: 45px 0px 60px 0;
			position: absolute;
			width: 100%;
			left: 0;
			top: 150px;
			z-index: 1;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s;

			&#nav-mujer:before{
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				top: -20px;
				left: 103px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 13px solid #F2F2F2;
			}

			&#nav-hombre:before{
				@extend #nav-mujer:before;
				left: 180px;
			}

			&#nav-kits:before{
				@extend #nav-mujer:before;
				left: 255px;
			}

			.navbar-sections {
				padding-left: 75px;
				margin-right: 57px;

				&:after{
					content: "";
					width: 3px;
					height: 175px;
					background-color: #ffffff;
					position: absolute;
					top: 0;
					right: -25px;
				}

				&:last-of-type{
					border-right: none;

					&:after{
						display: none;
					}
				}

				.navbar-title {
					margin-bottom: 20px;
				}

				li {
					font-family: $second-font-family;
					font-weight: $second-font-weight;
					margin: 10px 0;
				}
			}
		}
	}
}