.page-single-blog{

	.blog-content{
		margin-bottom: 50px;

		p{
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 30px;

			&.quote{
				font-size: 37px;
				line-height: 48px;
				padding-left: 90px;
			}

		}

	}

	.product-list{
		margin-bottom: 200px;
	}

}