.btn-black{
	background: $black;
	border: none;
	color: $white;
	font-weight: $light;
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
}
.btn-gray{
	width: 100%;
	background-color: $light-gray;
	display: block;
	text-align: center;
	font-size: 21px;
	padding: 20px 0;
	margin: 12px 0;
}
.btn-colors{

}
.btn-sizes{
	
}