.btn-black{
	background: $black;
    border: none;
    color: $white;
    font-weight: $light;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.btn-white{
	
}
.btn-gray{

}
.btn-colors{

}
.btn-sizes{
	
}