.btn-black{
	background: $black;
	border: none;
	color: $white;
	font-weight: $light;
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
	display: inline-block;
	transition: all 0.5s;

	&:hover{
		color: $white;
		opacity: 0.8;
	}

}
.btn-gray{
	width: 100%;
	background-color: $light-gray;
	display: block;
	text-align: center;
	font-size: 21px;
	padding: 20px 0;
	margin: 12px 0;
	transition: all 0.5s;

	&:hover{
		background-color: $black;
		color: $light-gray;
	}

}
.btn-colors{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: inline-block;
	position: relative;

	&.selected:before{
		content: "";
		width: 14px;
		height: 2px;
		background-color: #ffffff;
		position: absolute;
		top: 14px;
		left: 11px;
		transform: rotate(-44deg);
	}

	&.selected:after{
		content: "";
		width: 7px;
		height: 2px;
		background-color: $white;
		position: absolute;
		top: 16px;
		left: 7px;
		transform: rotate(44deg);
	}

	&.navy{
		background-color: #4C4F6B;
	}

	&.gray{
		background-color: #CECCCD;
	}

}
.btn-sizes{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	display: inline-block;
	border: 2px solid $black;
	text-align: center;
	padding-top: 6px;
	font-weight: $light;

	&.selected{
		background-color: $black;
		color: $white;
	}
}